body{
  width:100%;
  height:100%;
}


div#gameContainer{
  width:100%;
  height:100%;
  margin:0px;
  background-color: #00FF00;
}

 div#gameContainer div#levelControl{
  background-color: #FF0000;


}
div#gameContainer canvas#myDrawing{

  background-color: white;
 width:90%;
}

div#gameContainer div#scoreBoard{
  background-color: pink;
  color:blue;

}



/*
@media only screen and (max-width: 479px){
  div#gameContainer canvas#myDrawing{
      width:98%;
  }
}


@media only screen and (min-width: 480px)
{
  div#gameContainer canvas#myDrawing{
    width:98%;
  }

}
@media only screen and (min-width: 768px)
{
  div#gameContainer canvas#myDrawing{
    width:90%;
  }
}
@media only screen and (min-width: 992px)
{
    div#gameContainer canvas#myDrawing{
      width:65%;
    }
}
*/
