body{
  overflow: hidden;

}
html{
  overflow: hidden;
}
video#video-intro{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div#start{
  text-align: center;
  width: 100%;
  margin: auto;
  position: absolute;
  /*border: 1px solid red;*/
  z-index: 1;

}
div#start img{
  width: 70%;
}

div#start img:hover{
  cursor: pointer;
}
