
@font-face { font-family: 'edo'; src: url('./assets/fonts/edosz-webfont.ttf'); }

body{
  width:100%;
  height:100%;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-color: #cccccc;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;

}

div#gameContainer{
  width:100vw;
  height:100vh;
  background-image: url('./sokoban/assets/img/textures/back.jpg');
  background-size: cover;
  overflow: auto;
  position: fixed;
}

div#gameContainer canvas#myDrawing{
 width:70vw;
 height:auto;
 margin-top: 10px;
 margin-left: auto;
 margin-right: auto;
 display: inline-block;

}

div.info{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}

div.button{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    background-color: #b3ffff;
    float: left;
    border-style: solid;
    border-width: 0px;
    border-color: #000000;
}

div.button:hover{
    background-color: #00ff00;
}

div#gameContainer div.box{

   width:65%;
   margin-top: 15px;
   margin-left: auto;
   margin-right: auto;
}

div#gameContainer div.box #sokcontrols{
  width:420px;
  height:420px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius:70px;
  float:right;
  display:none;
  margin: 0 auto;
  margin-top:10px;
}

div#buttonBox{
  display:block;
  width:100%;
}

div#buttonBox img{

  width: 25%;
}
#gameContainer>img{
  display: none;
}
#gameContainer #clearfix>img{
  display: none;
}

#btn_game_cancel:hover{
  cursor: pointer;
}

#btn_game_reload:hover{
  cursor: pointer;
}

#warning-message { display: none; color:white;padding-top: 40px;font-size: 1.5em;}

@media only screen and (orientation:portrait){
   #gameContainer { display:none; }
   #warning-message { display:block; }
}
@media only screen and (orientation:landscape){
   #warning-message { display:none; }
}
