body{
  width:100%;
  height:100%;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-color: #cccccc;
  border-style: solid;
  border-width: 0px;

}


div#gameContainer{
  width:100%;
  height:100%;
  margin:0px;
  /*background-color: #00FF00;*/
  background-image: url('./sokoban/assets/img/fujir.jpg');
  background-size: cover;
  overflow: auto;
  position: fixed;
}

 div#gameContainer div#levelControl{
  background-color: #FF0000;
  height: 50px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;


}
div#gameContainer canvas#myDrawing{

  /*background-color: white;*/
   width:65%;
/*
 border-style: solid;
 border-width: 2px;
 border-color: #000000;*/
 margin-top: 10px;
 margin-left: auto;
 margin-right: auto;
 display: inline-block;

}

div#gameContainer div#scoreBoard{
  background-color: pink;
  color:blue;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

div.info{
    float: left;
    /* background-color: #b3ffff */
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}

div.button{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    background-color: #b3ffff;
    float: left;
    border-style: solid;
    border-width: 0px;
    border-color: #000000;
}

div.button:hover{
    background-color: #00ff00;
}

#help{
    background-color: #DDDDDD;
    padding: 5px;
    position: absolute;
    display: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #666666;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #666666;
}

#levelcomplete{
    display: none;
}

div#gameContainer div.box{

     width:15%;
     margin-top: 10px;
     margin-left: auto;
     margin-right: auto;

}

div#gameContainer div.box #sokcontrols{
  width:180px;
  height:180px;
  background-color:#00FF00;
  border-radius:70px;
  float:left;
  display:none;
}


div#bloc{
  display:block;
  background-color:#00FF00;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  div#bloc {
    background-color: pink;
    color:green;
  }
  div#gameContainer canvas#myDrawing{

    /*background-color: white;*/
     width:100%;


}
